gitb-test-resources/src/main/resources/test-repository/Sample/Actor1/artifacts/BIIPROFILES/abstract/BIIPROFILES-T15.sch

<!-- Schematron rules generated automatically. -->
<!-- Abstract rules for T15 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" abstract="true" id="T15">
  <rule context="$Invoice_Profile">
    <assert test="$BIIPROFILE-T15-R001" flag="fatal">[BIIPROFILE-T15-R001]-An invoice transaction T15 must only be used in CEN BII Profiles 5, 6, 7, 8, 13 or 19.</assert>
  </rule>
</pattern>
