gitb-test-resources/src/main/resources/test-repository/Sample/Actor1/artifacts/BIICORE/abstract/BIICORE-T15.sch

<!-- Schematron rules generated automatically. -->
<!-- Abstract rules for T15 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" abstract="true" id="T15">
  <rule context="$Invoice">
    <assert test="$BIICORE-T15-R000" flag="warning">[BIICORE-T15-R000]-This XML instance is NOT a BiiTrdm015 transaction</assert>
    <assert test="$BIICORE-T15-R001" flag="warning">[BIICORE-T15-R001]-An invoice SHOULD not contain empty elements.</assert>
    <assert test="$BIICORE-T15-R002" flag="warning">[BIICORE-T15-R002]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R003" flag="warning">[BIICORE-T15-R003]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R004" flag="warning">[BIICORE-T15-R004]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R005" flag="warning">[BIICORE-T15-R005]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R006" flag="warning">[BIICORE-T15-R006]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R007" flag="warning">[BIICORE-T15-R007]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R008" flag="warning">[BIICORE-T15-R008]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R009" flag="warning">[BIICORE-T15-R009]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R010" flag="warning">[BIICORE-T15-R010]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R011" flag="warning">[BIICORE-T15-R011]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R012" flag="warning">[BIICORE-T15-R012]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R013" flag="warning">[BIICORE-T15-R013]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R014" flag="warning">[BIICORE-T15-R014]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R015" flag="warning">[BIICORE-T15-R015]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R016" flag="warning">[BIICORE-T15-R016]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R017" flag="warning">[BIICORE-T15-R017]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R018" flag="warning">[BIICORE-T15-R018]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R019" flag="warning">[BIICORE-T15-R019]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R020" flag="warning">[BIICORE-T15-R020]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R021" flag="warning">[BIICORE-T15-R021]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R022" flag="warning">[BIICORE-T15-R022]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R023" flag="warning">[BIICORE-T15-R023]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R024" flag="warning">[BIICORE-T15-R024]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R025" flag="warning">[BIICORE-T15-R025]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R026" flag="warning">[BIICORE-T15-R026]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R027" flag="warning">[BIICORE-T15-R027]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R028" flag="warning">[BIICORE-T15-R028]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R029" flag="warning">[BIICORE-T15-R029]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R030" flag="warning">[BIICORE-T15-R030]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R031" flag="warning">[BIICORE-T15-R031]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R032" flag="warning">[BIICORE-T15-R032]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R033" flag="warning">[BIICORE-T15-R033]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R034" flag="warning">[BIICORE-T15-R034]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R035" flag="warning">[BIICORE-T15-R035]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R036" flag="warning">[BIICORE-T15-R036]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R037" flag="warning">[BIICORE-T15-R037]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R038" flag="warning">[BIICORE-T15-R038]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R039" flag="warning">[BIICORE-T15-R039]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R040" flag="warning">[BIICORE-T15-R040]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R041" flag="warning">[BIICORE-T15-R041]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R042" flag="warning">[BIICORE-T15-R042]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R043" flag="warning">[BIICORE-T15-R043]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R044" flag="warning">[BIICORE-T15-R044]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R045" flag="warning">[BIICORE-T15-R045]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R046" flag="warning">[BIICORE-T15-R046]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R047" flag="warning">[BIICORE-T15-R047]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R048" flag="warning">[BIICORE-T15-R048]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R049" flag="warning">[BIICORE-T15-R049]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R050" flag="warning">[BIICORE-T15-R050]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R051" flag="warning">[BIICORE-T15-R051]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R052" flag="warning">[BIICORE-T15-R052]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R053" flag="warning">[BIICORE-T15-R053]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R054" flag="warning">[BIICORE-T15-R054]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R055" flag="warning">[BIICORE-T15-R055]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R056" flag="warning">[BIICORE-T15-R056]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R057" flag="warning">[BIICORE-T15-R057]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R058" flag="warning">[BIICORE-T15-R058]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R059" flag="warning">[BIICORE-T15-R059]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R060" flag="warning">[BIICORE-T15-R060]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R061" flag="warning">[BIICORE-T15-R061]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R062" flag="warning">[BIICORE-T15-R062]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R063" flag="warning">[BIICORE-T15-R063]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R064" flag="warning">[BIICORE-T15-R064]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R065" flag="warning">[BIICORE-T15-R065]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R066" flag="warning">[BIICORE-T15-R066]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R067" flag="warning">[BIICORE-T15-R067]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R068" flag="warning">[BIICORE-T15-R068]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R069" flag="warning">[BIICORE-T15-R069]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R070" flag="warning">[BIICORE-T15-R070]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R071" flag="warning">[BIICORE-T15-R071]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R072" flag="warning">[BIICORE-T15-R072]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R073" flag="warning">[BIICORE-T15-R073]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R074" flag="warning">[BIICORE-T15-R074]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R075" flag="warning">[BIICORE-T15-R075]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R076" flag="warning">[BIICORE-T15-R076]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R077" flag="warning">[BIICORE-T15-R077]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R078" flag="warning">[BIICORE-T15-R078]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R079" flag="warning">[BIICORE-T15-R079]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R080" flag="warning">[BIICORE-T15-R080]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R081" flag="warning">[BIICORE-T15-R081]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R082" flag="warning">[BIICORE-T15-R082]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R083" flag="warning">[BIICORE-T15-R083]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R084" flag="warning">[BIICORE-T15-R084]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R085" flag="warning">[BIICORE-T15-R085]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R086" flag="warning">[BIICORE-T15-R086]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R087" flag="warning">[BIICORE-T15-R087]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R088" flag="warning">[BIICORE-T15-R088]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R089" flag="warning">[BIICORE-T15-R089]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R090" flag="warning">[BIICORE-T15-R090]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R091" flag="warning">[BIICORE-T15-R091]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R092" flag="warning">[BIICORE-T15-R092]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R093" flag="warning">[BIICORE-T15-R093]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R094" flag="warning">[BIICORE-T15-R094]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R095" flag="warning">[BIICORE-T15-R095]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R096" flag="warning">[BIICORE-T15-R096]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R097" flag="warning">[BIICORE-T15-R097]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R098" flag="warning">[BIICORE-T15-R098]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R099" flag="warning">[BIICORE-T15-R099]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R100" flag="warning">[BIICORE-T15-R100]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R101" flag="warning">[BIICORE-T15-R101]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R102" flag="warning">[BIICORE-T15-R102]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R103" flag="warning">[BIICORE-T15-R103]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R104" flag="warning">[BIICORE-T15-R104]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R105" flag="warning">[BIICORE-T15-R105]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R106" flag="warning">[BIICORE-T15-R106]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R107" flag="warning">[BIICORE-T15-R107]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R108" flag="warning">[BIICORE-T15-R108]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R109" flag="warning">[BIICORE-T15-R109]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R110" flag="warning">[BIICORE-T15-R110]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R111" flag="warning">[BIICORE-T15-R111]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R112" flag="warning">[BIICORE-T15-R112]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R113" flag="warning">[BIICORE-T15-R113]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R114" flag="warning">[BIICORE-T15-R114]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R115" flag="warning">[BIICORE-T15-R115]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R116" flag="warning">[BIICORE-T15-R116]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R117" flag="warning">[BIICORE-T15-R117]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R118" flag="warning">[BIICORE-T15-R118]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R119" flag="warning">[BIICORE-T15-R119]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R120" flag="warning">[BIICORE-T15-R120]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R121" flag="warning">[BIICORE-T15-R121]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R122" flag="warning">[BIICORE-T15-R122]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R123" flag="warning">[BIICORE-T15-R123]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R124" flag="warning">[BIICORE-T15-R124]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R125" flag="warning">[BIICORE-T15-R125]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R126" flag="warning">[BIICORE-T15-R126]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R127" flag="warning">[BIICORE-T15-R127]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R128" flag="warning">[BIICORE-T15-R128]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R129" flag="warning">[BIICORE-T15-R129]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R130" flag="warning">[BIICORE-T15-R130]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R131" flag="warning">[BIICORE-T15-R131]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R132" flag="warning">[BIICORE-T15-R132]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R133" flag="warning">[BIICORE-T15-R133]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R134" flag="warning">[BIICORE-T15-R134]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R135" flag="warning">[BIICORE-T15-R135]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R136" flag="warning">[BIICORE-T15-R136]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R137" flag="warning">[BIICORE-T15-R137]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R138" flag="warning">[BIICORE-T15-R138]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R139" flag="warning">[BIICORE-T15-R139]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R140" flag="warning">[BIICORE-T15-R140]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R141" flag="warning">[BIICORE-T15-R141]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R142" flag="warning">[BIICORE-T15-R142]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R143" flag="warning">[BIICORE-T15-R143]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R144" flag="warning">[BIICORE-T15-R144]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R145" flag="warning">[BIICORE-T15-R145]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R146" flag="warning">[BIICORE-T15-R146]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R147" flag="warning">[BIICORE-T15-R147]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R148" flag="warning">[BIICORE-T15-R148]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R149" flag="warning">[BIICORE-T15-R149]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R150" flag="warning">[BIICORE-T15-R150]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R151" flag="warning">[BIICORE-T15-R151]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R152" flag="warning">[BIICORE-T15-R152]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R153" flag="warning">[BIICORE-T15-R153]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R154" flag="warning">[BIICORE-T15-R154]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R155" flag="warning">[BIICORE-T15-R155]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R156" flag="warning">[BIICORE-T15-R156]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R157" flag="warning">[BIICORE-T15-R157]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R158" flag="warning">[BIICORE-T15-R158]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R159" flag="warning">[BIICORE-T15-R159]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R160" flag="warning">[BIICORE-T15-R160]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R161" flag="warning">[BIICORE-T15-R161]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R162" flag="warning">[BIICORE-T15-R162]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R163" flag="warning">[BIICORE-T15-R163]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R164" flag="warning">[BIICORE-T15-R164]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R165" flag="warning">[BIICORE-T15-R165]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R166" flag="warning">[BIICORE-T15-R166]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R167" flag="warning">[BIICORE-T15-R167]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R168" flag="warning">[BIICORE-T15-R168]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R169" flag="warning">[BIICORE-T15-R169]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R170" flag="warning">[BIICORE-T15-R170]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R171" flag="warning">[BIICORE-T15-R171]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R172" flag="warning">[BIICORE-T15-R172]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R173" flag="warning">[BIICORE-T15-R173]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R174" flag="warning">[BIICORE-T15-R174]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R175" flag="warning">[BIICORE-T15-R175]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R176" flag="warning">[BIICORE-T15-R176]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R177" flag="warning">[BIICORE-T15-R177]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R178" flag="warning">[BIICORE-T15-R178]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R179" flag="warning">[BIICORE-T15-R179]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R180" flag="warning">[BIICORE-T15-R180]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R181" flag="warning">[BIICORE-T15-R181]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R182" flag="warning">[BIICORE-T15-R182]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R183" flag="warning">[BIICORE-T15-R183]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R184" flag="warning">[BIICORE-T15-R184]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R185" flag="warning">[BIICORE-T15-R185]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R186" flag="warning">[BIICORE-T15-R186]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R187" flag="warning">[BIICORE-T15-R187]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R188" flag="warning">[BIICORE-T15-R188]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R189" flag="warning">[BIICORE-T15-R189]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R190" flag="warning">[BIICORE-T15-R190]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R191" flag="warning">[BIICORE-T15-R191]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R192" flag="warning">[BIICORE-T15-R192]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R193" flag="warning">[BIICORE-T15-R193]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R194" flag="warning">[BIICORE-T15-R194]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R195" flag="warning">[BIICORE-T15-R195]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R196" flag="warning">[BIICORE-T15-R196]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R197" flag="warning">[BIICORE-T15-R197]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R198" flag="warning">[BIICORE-T15-R198]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R199" flag="warning">[BIICORE-T15-R199]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R200" flag="warning">[BIICORE-T15-R200]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R201" flag="warning">[BIICORE-T15-R201]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R202" flag="warning">[BIICORE-T15-R202]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R203" flag="warning">[BIICORE-T15-R203]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R204" flag="warning">[BIICORE-T15-R204]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R205" flag="warning">[BIICORE-T15-R205]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R206" flag="warning">[BIICORE-T15-R206]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R207" flag="warning">[BIICORE-T15-R207]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R208" flag="warning">[BIICORE-T15-R208]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R209" flag="warning">[BIICORE-T15-R209]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R210" flag="warning">[BIICORE-T15-R210]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R211" flag="warning">[BIICORE-T15-R211]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R212" flag="warning">[BIICORE-T15-R212]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R213" flag="warning">[BIICORE-T15-R213]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R214" flag="warning">[BIICORE-T15-R214]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R215" flag="warning">[BIICORE-T15-R215]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R216" flag="warning">[BIICORE-T15-R216]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R217" flag="warning">[BIICORE-T15-R217]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R218" flag="warning">[BIICORE-T15-R218]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R219" flag="warning">[BIICORE-T15-R219]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R220" flag="warning">[BIICORE-T15-R220]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R221" flag="warning">[BIICORE-T15-R221]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R222" flag="warning">[BIICORE-T15-R222]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R223" flag="warning">[BIICORE-T15-R223]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R224" flag="warning">[BIICORE-T15-R224]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R225" flag="warning">[BIICORE-T15-R225]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R226" flag="warning">[BIICORE-T15-R226]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R227" flag="warning">[BIICORE-T15-R227]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R228" flag="warning">[BIICORE-T15-R228]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R229" flag="warning">[BIICORE-T15-R229]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R230" flag="warning">[BIICORE-T15-R230]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R231" flag="warning">[BIICORE-T15-R231]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R232" flag="warning">[BIICORE-T15-R232]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R233" flag="warning">[BIICORE-T15-R233]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R234" flag="warning">[BIICORE-T15-R234]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R235" flag="warning">[BIICORE-T15-R235]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R236" flag="warning">[BIICORE-T15-R236]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R237" flag="warning">[BIICORE-T15-R237]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R238" flag="warning">[BIICORE-T15-R238]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R239" flag="warning">[BIICORE-T15-R239]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R240" flag="warning">[BIICORE-T15-R240]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R241" flag="warning">[BIICORE-T15-R241]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R242" flag="warning">[BIICORE-T15-R242]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R243" flag="warning">[BIICORE-T15-R243]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R244" flag="warning">[BIICORE-T15-R244]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R245" flag="warning">[BIICORE-T15-R245]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R246" flag="warning">[BIICORE-T15-R246]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R247" flag="warning">[BIICORE-T15-R247]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R248" flag="warning">[BIICORE-T15-R248]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R249" flag="warning">[BIICORE-T15-R249]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R250" flag="warning">[BIICORE-T15-R250]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R251" flag="warning">[BIICORE-T15-R251]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R252" flag="warning">[BIICORE-T15-R252]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R253" flag="warning">[BIICORE-T15-R253]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R254" flag="warning">[BIICORE-T15-R254]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R255" flag="warning">[BIICORE-T15-R255]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R256" flag="warning">[BIICORE-T15-R256]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R257" flag="warning">[BIICORE-T15-R257]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R258" flag="warning">[BIICORE-T15-R258]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R259" flag="warning">[BIICORE-T15-R259]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R260" flag="warning">[BIICORE-T15-R260]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R261" flag="warning">[BIICORE-T15-R261]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R262" flag="warning">[BIICORE-T15-R262]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R263" flag="warning">[BIICORE-T15-R263]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R264" flag="warning">[BIICORE-T15-R264]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R265" flag="warning">[BIICORE-T15-R265]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R266" flag="warning">[BIICORE-T15-R266]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R267" flag="warning">[BIICORE-T15-R267]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R268" flag="warning">[BIICORE-T15-R268]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R269" flag="warning">[BIICORE-T15-R269]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R270" flag="warning">[BIICORE-T15-R270]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R271" flag="warning">[BIICORE-T15-R271]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R272" flag="warning">[BIICORE-T15-R272]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R273" flag="warning">[BIICORE-T15-R273]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R274" flag="warning">[BIICORE-T15-R274]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R275" flag="warning">[BIICORE-T15-R275]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R276" flag="warning">[BIICORE-T15-R276]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R277" flag="warning">[BIICORE-T15-R277]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R278" flag="warning">[BIICORE-T15-R278]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R279" flag="warning">[BIICORE-T15-R279]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R280" flag="warning">[BIICORE-T15-R280]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R281" flag="warning">[BIICORE-T15-R281]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R282" flag="warning">[BIICORE-T15-R282]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R283" flag="warning">[BIICORE-T15-R283]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R284" flag="warning">[BIICORE-T15-R284]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R285" flag="warning">[BIICORE-T15-R285]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R286" flag="warning">[BIICORE-T15-R286]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R287" flag="warning">[BIICORE-T15-R287]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R288" flag="warning">[BIICORE-T15-R288]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R289" flag="warning">[BIICORE-T15-R289]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R290" flag="warning">[BIICORE-T15-R290]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R291" flag="warning">[BIICORE-T15-R291]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R292" flag="warning">[BIICORE-T15-R292]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R293" flag="warning">[BIICORE-T15-R293]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R294" flag="warning">[BIICORE-T15-R294]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R295" flag="warning">[BIICORE-T15-R295]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R296" flag="warning">[BIICORE-T15-R296]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R297" flag="warning">[BIICORE-T15-R297]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R298" flag="warning">[BIICORE-T15-R298]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R299" flag="warning">[BIICORE-T15-R299]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R300" flag="warning">[BIICORE-T15-R300]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R301" flag="warning">[BIICORE-T15-R301]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R302" flag="warning">[BIICORE-T15-R302]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R303" flag="warning">[BIICORE-T15-R303]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R304" flag="warning">[BIICORE-T15-R304]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R305" flag="warning">[BIICORE-T15-R305]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R306" flag="warning">[BIICORE-T15-R306]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R307" flag="warning">[BIICORE-T15-R307]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R308" flag="warning">[BIICORE-T15-R308]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R309" flag="warning">[BIICORE-T15-R309]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R310" flag="warning">[BIICORE-T15-R310]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R311" flag="warning">[BIICORE-T15-R311]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R312" flag="warning">[BIICORE-T15-R312]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R313" flag="warning">[BIICORE-T15-R313]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R314" flag="warning">[BIICORE-T15-R314]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R315" flag="warning">[BIICORE-T15-R315]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R316" flag="warning">[BIICORE-T15-R316]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R317" flag="warning">[BIICORE-T15-R317]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R318" flag="warning">[BIICORE-T15-R318]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R319" flag="warning">[BIICORE-T15-R319]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R320" flag="warning">[BIICORE-T15-R320]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R321" flag="warning">[BIICORE-T15-R321]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R322" flag="warning">[BIICORE-T15-R322]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R323" flag="warning">[BIICORE-T15-R323]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R324" flag="warning">[BIICORE-T15-R324]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R325" flag="warning">[BIICORE-T15-R325]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R326" flag="warning">[BIICORE-T15-R326]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R327" flag="warning">[BIICORE-T15-R327]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R328" flag="warning">[BIICORE-T15-R328]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R329" flag="warning">[BIICORE-T15-R329]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R330" flag="warning">[BIICORE-T15-R330]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R331" flag="warning">[BIICORE-T15-R331]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R332" flag="warning">[BIICORE-T15-R332]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R333" flag="warning">[BIICORE-T15-R333]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R334" flag="warning">[BIICORE-T15-R334]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R335" flag="warning">[BIICORE-T15-R335]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R336" flag="warning">[BIICORE-T15-R336]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R337" flag="warning">[BIICORE-T15-R337]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R338" flag="warning">[BIICORE-T15-R338]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R339" flag="warning">[BIICORE-T15-R339]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R340" flag="warning">[BIICORE-T15-R340]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R341" flag="warning">[BIICORE-T15-R341]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R342" flag="warning">[BIICORE-T15-R342]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R343" flag="warning">[BIICORE-T15-R343]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R344" flag="warning">[BIICORE-T15-R344]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R345" flag="warning">[BIICORE-T15-R345]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R346" flag="warning">[BIICORE-T15-R346]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R347" flag="warning">[BIICORE-T15-R347]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R348" flag="warning">[BIICORE-T15-R348]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R349" flag="warning">[BIICORE-T15-R349]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R350" flag="warning">[BIICORE-T15-R350]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R351" flag="warning">[BIICORE-T15-R351]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R352" flag="warning">[BIICORE-T15-R352]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R353" flag="warning">[BIICORE-T15-R353]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R354" flag="warning">[BIICORE-T15-R354]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R355" flag="warning">[BIICORE-T15-R355]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R356" flag="warning">[BIICORE-T15-R356]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R357" flag="warning">[BIICORE-T15-R357]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R358" flag="warning">[BIICORE-T15-R358]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R359" flag="warning">[BIICORE-T15-R359]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R360" flag="warning">[BIICORE-T15-R360]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R361" flag="warning">[BIICORE-T15-R361]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R362" flag="warning">[BIICORE-T15-R362]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R363" flag="warning">[BIICORE-T15-R363]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R364" flag="warning">[BIICORE-T15-R364]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R365" flag="warning">[BIICORE-T15-R365]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R366" flag="warning">[BIICORE-T15-R366]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R367" flag="warning">[BIICORE-T15-R367]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R368" flag="warning">[BIICORE-T15-R368]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R369" flag="warning">[BIICORE-T15-R369]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R370" flag="warning">[BIICORE-T15-R370]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R371" flag="warning">[BIICORE-T15-R371]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R372" flag="warning">[BIICORE-T15-R372]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R373" flag="warning">[BIICORE-T15-R373]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R374" flag="warning">[BIICORE-T15-R374]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R375" flag="warning">[BIICORE-T15-R375]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R376" flag="warning">[BIICORE-T15-R376]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R377" flag="warning">[BIICORE-T15-R377]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R378" flag="warning">[BIICORE-T15-R378]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R379" flag="warning">[BIICORE-T15-R379]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R380" flag="warning">[BIICORE-T15-R380]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R381" flag="warning">[BIICORE-T15-R381]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R382" flag="warning">[BIICORE-T15-R382]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R383" flag="warning">[BIICORE-T15-R383]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R384" flag="warning">[BIICORE-T15-R384]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R385" flag="warning">[BIICORE-T15-R385]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R386" flag="warning">[BIICORE-T15-R386]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R387" flag="warning">[BIICORE-T15-R387]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R388" flag="warning">[BIICORE-T15-R388]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R389" flag="warning">[BIICORE-T15-R389]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R390" flag="warning">[BIICORE-T15-R390]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R391" flag="warning">[BIICORE-T15-R391]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R392" flag="warning">[BIICORE-T15-R392]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R393" flag="warning">[BIICORE-T15-R393]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R394" flag="warning">[BIICORE-T15-R394]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R395" flag="warning">[BIICORE-T15-R395]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R396" flag="warning">[BIICORE-T15-R396]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T15-R397" flag="warning">[BIICORE-T15-R397]-A conformant CEN BII invoice core data model SHOULD not have data elements not in the core.</assert>
  </rule>
  <rule context="$Customer">
    <assert test="$BIICORE-T15-R398" flag="warning">[BIICORE-T15-R398]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T15-R399" flag="warning">[BIICORE-T15-R399]-Element 'PartyName' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T15-R400" flag="warning">[BIICORE-T15-R400]-Element 'PartyTaxScheme' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Supplier">
    <assert test="$BIICORE-T15-R401" flag="warning">[BIICORE-T15-R401]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T15-R402" flag="warning">[BIICORE-T15-R402]-Element 'PartyName' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T15-R403" flag="warning">[BIICORE-T15-R403]-Element 'PostalAddress' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T15-R404" flag="warning">[BIICORE-T15-R404]-Element 'PartyTaxScheme' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$InvoiceLine">
    <assert test="$BIICORE-T15-R405" flag="warning">[BIICORE-T15-R405]-Element 'TaxTotal' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T15-R406" flag="warning">[BIICORE-T15-R406]-Element 'Price' must occur exactly 1 times.</assert>
  </rule>
  <rule context="$Item">
    <assert test="$BIICORE-T15-R407" flag="warning">[BIICORE-T15-R407]-Element 'Description' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T15-R408" flag="warning">[BIICORE-T15-R408]-Element 'Name' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T15-R409" flag="warning">[BIICORE-T15-R409]-Element 'ClassifiedTaxCategory' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Price">
    <assert test="$BIICORE-T15-R410" flag="warning">[BIICORE-T15-R410]-Element 'AllowanceCharge' may occur at maximum 1 times.</assert>
  </rule>
  <rule context="$Monetary_Total">
    <assert test="$BIICORE-T15-R411" flag="warning">[BIICORE-T15-R411]-Element 'TaxExclusiveAmount' must occur exactly 1 times.</assert>
    <assert test="$BIICORE-T15-R412" flag="warning">[BIICORE-T15-R412]-Element 'TaxInclusiveAmount' must occur exactly 1 times.</assert>
  </rule>
  <rule context="$Payee">
    <assert test="$BIICORE-T15-R413" flag="warning">[BIICORE-T15-R413]-Element 'PartyIdentification' may occur at maximum 1 times.</assert>
    <assert test="$BIICORE-T15-R414" flag="warning">[BIICORE-T15-R414]-Element 'PartyName' may occur at maximum 1 times</assert>
  </rule>
  <rule context="$Financial_Account">
    <assert test="$BIICORE-T15-R415" flag="warning">[BIICORE-T15-R415]-Element 'ID' must occur exactly 1 times.</assert>
  </rule>
</pattern>
