gitb-test-resources/src/main/resources/test-repository/Sample/Actor1/artifacts/BIICORE/abstract/BIICORE-T14.sch

<!-- Schematron rules generated automatically. -->
<!-- Abstract rules for T14 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" abstract="true" id="T14">
  <rule context="$Credit_Note">
    <assert test="$BIICORE-T14-R000" flag="warning">[BIICORE-T14-R000]-This XML instance is NOT a BiiTrdm014 transaction</assert>
    <assert test="$BIICORE-T14-R001" flag="warning">[BIICORE-T14-R001]-An invoice SHOULD not contain empty elements.</assert>
    <assert test="$BIICORE-T14-R002" flag="warning">[BIICORE-T14-R002]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R003" flag="warning">[BIICORE-T14-R003]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R004" flag="warning">[BIICORE-T14-R004]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R005" flag="warning">[BIICORE-T14-R005]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R006" flag="warning">[BIICORE-T14-R006]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R007" flag="warning">[BIICORE-T14-R007]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R008" flag="warning">[BIICORE-T14-R008]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R009" flag="warning">[BIICORE-T14-R009]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R010" flag="warning">[BIICORE-T14-R010]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R011" flag="warning">[BIICORE-T14-R011]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R012" flag="warning">[BIICORE-T14-R012]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R013" flag="warning">[BIICORE-T14-R013]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R014" flag="warning">[BIICORE-T14-R014]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R015" flag="warning">[BIICORE-T14-R015]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R016" flag="warning">[BIICORE-T14-R016]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R017" flag="warning">[BIICORE-T14-R017]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R018" flag="warning">[BIICORE-T14-R018]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R019" flag="warning">[BIICORE-T14-R019]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R020" flag="warning">[BIICORE-T14-R020]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R021" flag="warning">[BIICORE-T14-R021]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R022" flag="warning">[BIICORE-T14-R022]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R023" flag="warning">[BIICORE-T14-R023]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R024" flag="warning">[BIICORE-T14-R024]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R025" flag="warning">[BIICORE-T14-R025]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R026" flag="warning">[BIICORE-T14-R026]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R027" flag="warning">[BIICORE-T14-R027]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R028" flag="warning">[BIICORE-T14-R028]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R029" flag="warning">[BIICORE-T14-R029]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R030" flag="warning">[BIICORE-T14-R030]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R031" flag="warning">[BIICORE-T14-R031]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R032" flag="warning">[BIICORE-T14-R032]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R033" flag="warning">[BIICORE-T14-R033]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R034" flag="warning">[BIICORE-T14-R034]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R035" flag="warning">[BIICORE-T14-R035]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R036" flag="warning">[BIICORE-T14-R036]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R037" flag="warning">[BIICORE-T14-R037]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R038" flag="warning">[BIICORE-T14-R038]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R039" flag="warning">[BIICORE-T14-R039]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R040" flag="warning">[BIICORE-T14-R040]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R041" flag="warning">[BIICORE-T14-R041]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R042" flag="warning">[BIICORE-T14-R042]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R043" flag="warning">[BIICORE-T14-R043]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R044" flag="warning">[BIICORE-T14-R044]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R045" flag="warning">[BIICORE-T14-R045]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R046" flag="warning">[BIICORE-T14-R046]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R047" flag="warning">[BIICORE-T14-R047]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R048" flag="warning">[BIICORE-T14-R048]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R049" flag="warning">[BIICORE-T14-R049]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R050" flag="warning">[BIICORE-T14-R050]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R051" flag="warning">[BIICORE-T14-R051]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R052" flag="warning">[BIICORE-T14-R052]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R053" flag="warning">[BIICORE-T14-R053]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R054" flag="warning">[BIICORE-T14-R054]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R055" flag="warning">[BIICORE-T14-R055]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R056" flag="warning">[BIICORE-T14-R056]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R057" flag="warning">[BIICORE-T14-R057]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R058" flag="warning">[BIICORE-T14-R058]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R059" flag="warning">[BIICORE-T14-R059]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R060" flag="warning">[BIICORE-T14-R060]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R061" flag="warning">[BIICORE-T14-R061]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R062" flag="warning">[BIICORE-T14-R062]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R063" flag="warning">[BIICORE-T14-R063]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R064" flag="warning">[BIICORE-T14-R064]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R065" flag="warning">[BIICORE-T14-R065]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R066" flag="warning">[BIICORE-T14-R066]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R067" flag="warning">[BIICORE-T14-R067]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R068" flag="warning">[BIICORE-T14-R068]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R069" flag="warning">[BIICORE-T14-R069]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R070" flag="warning">[BIICORE-T14-R070]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R071" flag="warning">[BIICORE-T14-R071]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R072" flag="warning">[BIICORE-T14-R072]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R073" flag="warning">[BIICORE-T14-R073]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R074" flag="warning">[BIICORE-T14-R074]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R075" flag="warning">[BIICORE-T14-R075]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R076" flag="warning">[BIICORE-T14-R076]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R077" flag="warning">[BIICORE-T14-R077]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R078" flag="warning">[BIICORE-T14-R078]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R079" flag="warning">[BIICORE-T14-R079]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R080" flag="warning">[BIICORE-T14-R080]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R081" flag="warning">[BIICORE-T14-R081]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R082" flag="warning">[BIICORE-T14-R082]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R083" flag="warning">[BIICORE-T14-R083]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R084" flag="warning">[BIICORE-T14-R084]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R085" flag="warning">[BIICORE-T14-R085]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R086" flag="warning">[BIICORE-T14-R086]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R087" flag="warning">[BIICORE-T14-R087]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R088" flag="warning">[BIICORE-T14-R088]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R089" flag="warning">[BIICORE-T14-R089]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R090" flag="warning">[BIICORE-T14-R090]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R091" flag="warning">[BIICORE-T14-R091]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R092" flag="warning">[BIICORE-T14-R092]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R093" flag="warning">[BIICORE-T14-R093]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R094" flag="warning">[BIICORE-T14-R094]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R095" flag="warning">[BIICORE-T14-R095]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R096" flag="warning">[BIICORE-T14-R096]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R097" flag="warning">[BIICORE-T14-R097]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R098" flag="warning">[BIICORE-T14-R098]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R099" flag="warning">[BIICORE-T14-R099]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R100" flag="warning">[BIICORE-T14-R100]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R101" flag="warning">[BIICORE-T14-R101]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R102" flag="warning">[BIICORE-T14-R102]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R103" flag="warning">[BIICORE-T14-R103]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R104" flag="warning">[BIICORE-T14-R104]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R105" flag="warning">[BIICORE-T14-R105]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R106" flag="warning">[BIICORE-T14-R106]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R107" flag="warning">[BIICORE-T14-R107]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R108" flag="warning">[BIICORE-T14-R108]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R109" flag="warning">[BIICORE-T14-R109]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R110" flag="warning">[BIICORE-T14-R110]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R111" flag="warning">[BIICORE-T14-R111]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R112" flag="warning">[BIICORE-T14-R112]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R113" flag="warning">[BIICORE-T14-R113]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R114" flag="warning">[BIICORE-T14-R114]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R115" flag="warning">[BIICORE-T14-R115]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R116" flag="warning">[BIICORE-T14-R116]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R117" flag="warning">[BIICORE-T14-R117]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R118" flag="warning">[BIICORE-T14-R118]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R119" flag="warning">[BIICORE-T14-R119]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R120" flag="warning">[BIICORE-T14-R120]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R121" flag="warning">[BIICORE-T14-R121]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R122" flag="warning">[BIICORE-T14-R122]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R123" flag="warning">[BIICORE-T14-R123]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R124" flag="warning">[BIICORE-T14-R124]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R125" flag="warning">[BIICORE-T14-R125]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R126" flag="warning">[BIICORE-T14-R126]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R127" flag="warning">[BIICORE-T14-R127]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R128" flag="warning">[BIICORE-T14-R128]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R129" flag="warning">[BIICORE-T14-R129]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R130" flag="warning">[BIICORE-T14-R130]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R131" flag="warning">[BIICORE-T14-R131]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R132" flag="warning">[BIICORE-T14-R132]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R133" flag="warning">[BIICORE-T14-R133]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R134" flag="warning">[BIICORE-T14-R134]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R135" flag="warning">[BIICORE-T14-R135]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R136" flag="warning">[BIICORE-T14-R136]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R137" flag="warning">[BIICORE-T14-R137]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R138" flag="warning">[BIICORE-T14-R138]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R139" flag="warning">[BIICORE-T14-R139]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R140" flag="warning">[BIICORE-T14-R140]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R141" flag="warning">[BIICORE-T14-R141]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R142" flag="warning">[BIICORE-T14-R142]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R143" flag="warning">[BIICORE-T14-R143]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R144" flag="warning">[BIICORE-T14-R144]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R145" flag="warning">[BIICORE-T14-R145]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R146" flag="warning">[BIICORE-T14-R146]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R147" flag="warning">[BIICORE-T14-R147]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R148" flag="warning">[BIICORE-T14-R148]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R149" flag="warning">[BIICORE-T14-R149]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R150" flag="warning">[BIICORE-T14-R150]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R151" flag="warning">[BIICORE-T14-R151]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R152" flag="warning">[BIICORE-T14-R152]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R153" flag="warning">[BIICORE-T14-R153]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R154" flag="warning">[BIICORE-T14-R154]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R155" flag="warning">[BIICORE-T14-R155]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R156" flag="warning">[BIICORE-T14-R156]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R157" flag="warning">[BIICORE-T14-R157]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R158" flag="warning">[BIICORE-T14-R158]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R159" flag="warning">[BIICORE-T14-R159]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R160" flag="warning">[BIICORE-T14-R160]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R161" flag="warning">[BIICORE-T14-R161]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R162" flag="warning">[BIICORE-T14-R162]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R163" flag="warning">[BIICORE-T14-R163]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R164" flag="warning">[BIICORE-T14-R164]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R165" flag="warning">[BIICORE-T14-R165]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R166" flag="warning">[BIICORE-T14-R166]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R167" flag="warning">[BIICORE-T14-R167]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R168" flag="warning">[BIICORE-T14-R168]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R169" flag="warning">[BIICORE-T14-R169]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R170" flag="warning">[BIICORE-T14-R170]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R171" flag="warning">[BIICORE-T14-R171]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R172" flag="warning">[BIICORE-T14-R172]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R173" flag="warning">[BIICORE-T14-R173]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R174" flag="warning">[BIICORE-T14-R174]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R175" flag="warning">[BIICORE-T14-R175]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R176" flag="warning">[BIICORE-T14-R176]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R177" flag="warning">[BIICORE-T14-R177]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R178" flag="warning">[BIICORE-T14-R178]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R179" flag="warning">[BIICORE-T14-R179]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R180" flag="warning">[BIICORE-T14-R180]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R181" flag="warning">[BIICORE-T14-R181]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R182" flag="warning">[BIICORE-T14-R182]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R183" flag="warning">[BIICORE-T14-R183]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R184" flag="warning">[BIICORE-T14-R184]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R185" flag="warning">[BIICORE-T14-R185]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R186" flag="warning">[BIICORE-T14-R186]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R187" flag="warning">[BIICORE-T14-R187]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R188" flag="warning">[BIICORE-T14-R188]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R189" flag="warning">[BIICORE-T14-R189]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R190" flag="warning">[BIICORE-T14-R190]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R191" flag="warning">[BIICORE-T14-R191]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R192" flag="warning">[BIICORE-T14-R192]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R193" flag="warning">[BIICORE-T14-R193]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R194" flag="warning">[BIICORE-T14-R194]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R195" flag="warning">[BIICORE-T14-R195]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R196" flag="warning">[BIICORE-T14-R196]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R197" flag="warning">[BIICORE-T14-R197]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R198" flag="warning">[BIICORE-T14-R198]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R199" flag="warning">[BIICORE-T14-R199]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R200" flag="warning">[BIICORE-T14-R200]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R201" flag="warning">[BIICORE-T14-R201]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R202" flag="warning">[BIICORE-T14-R202]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R203" flag="warning">[BIICORE-T14-R203]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R204" flag="warning">[BIICORE-T14-R204]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R205" flag="warning">[BIICORE-T14-R205]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R206" flag="warning">[BIICORE-T14-R206]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R207" flag="warning">[BIICORE-T14-R207]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R208" flag="warning">[BIICORE-T14-R208]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R209" flag="warning">[BIICORE-T14-R209]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R210" flag="warning">[BIICORE-T14-R210]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R211" flag="warning">[BIICORE-T14-R211]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R212" flag="warning">[BIICORE-T14-R212]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R213" flag="warning">[BIICORE-T14-R213]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R214" flag="warning">[BIICORE-T14-R214]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R215" flag="warning">[BIICORE-T14-R215]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R216" flag="warning">[BIICORE-T14-R216]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R217" flag="warning">[BIICORE-T14-R217]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R218" flag="warning">[BIICORE-T14-R218]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R219" flag="warning">[BIICORE-T14-R219]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R220" flag="warning">[BIICORE-T14-R220]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R221" flag="warning">[BIICORE-T14-R221]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R222" flag="warning">[BIICORE-T14-R222]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R223" flag="warning">[BIICORE-T14-R223]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R224" flag="warning">[BIICORE-T14-R224]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R225" flag="warning">[BIICORE-T14-R225]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R226" flag="warning">[BIICORE-T14-R226]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R227" flag="warning">[BIICORE-T14-R227]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R228" flag="warning">[BIICORE-T14-R228]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R229" flag="warning">[BIICORE-T14-R229]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R230" flag="warning">[BIICORE-T14-R230]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R231" flag="warning">[BIICORE-T14-R231]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R232" flag="warning">[BIICORE-T14-R232]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R233" flag="warning">[BIICORE-T14-R233]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R234" flag="warning">[BIICORE-T14-R234]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R235" flag="warning">[BIICORE-T14-R235]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R236" flag="warning">[BIICORE-T14-R236]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R237" flag="warning">[BIICORE-T14-R237]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R238" flag="warning">[BIICORE-T14-R238]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R239" flag="warning">[BIICORE-T14-R239]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R240" flag="warning">[BIICORE-T14-R240]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R241" flag="warning">[BIICORE-T14-R241]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R242" flag="warning">[BIICORE-T14-R242]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R243" flag="warning">[BIICORE-T14-R243]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R244" flag="warning">[BIICORE-T14-R244]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R245" flag="warning">[BIICORE-T14-R245]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R246" flag="warning">[BIICORE-T14-R246]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R247" flag="warning">[BIICORE-T14-R247]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R248" flag="warning">[BIICORE-T14-R248]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R249" flag="warning">[BIICORE-T14-R249]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R250" flag="warning">[BIICORE-T14-R250]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R251" flag="warning">[BIICORE-T14-R251]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R252" flag="warning">[BIICORE-T14-R252]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R253" flag="warning">[BIICORE-T14-R253]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R254" flag="warning">[BIICORE-T14-R254]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R255" flag="warning">[BIICORE-T14-R255]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R256" flag="warning">[BIICORE-T14-R256]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R257" flag="warning">[BIICORE-T14-R257]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R258" flag="warning">[BIICORE-T14-R258]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R259" flag="warning">[BIICORE-T14-R259]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R260" flag="warning">[BIICORE-T14-R260]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R261" flag="warning">[BIICORE-T14-R261]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R262" flag="warning">[BIICORE-T14-R262]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R263" flag="warning">[BIICORE-T14-R263]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R264" flag="warning">[BIICORE-T14-R264]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R265" flag="warning">[BIICORE-T14-R265]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R266" flag="warning">[BIICORE-T14-R266]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R267" flag="warning">[BIICORE-T14-R267]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R268" flag="warning">[BIICORE-T14-R268]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R269" flag="warning">[BIICORE-T14-R269]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R270" flag="warning">[BIICORE-T14-R270]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R271" flag="warning">[BIICORE-T14-R271]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R272" flag="warning">[BIICORE-T14-R272]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R273" flag="warning">[BIICORE-T14-R273]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R274" flag="warning">[BIICORE-T14-R274]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R275" flag="warning">[BIICORE-T14-R275]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R276" flag="warning">[BIICORE-T14-R276]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R277" flag="warning">[BIICORE-T14-R277]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R278" flag="warning">[BIICORE-T14-R278]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R279" flag="warning">[BIICORE-T14-R279]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R280" flag="warning">[BIICORE-T14-R280]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R281" flag="warning">[BIICORE-T14-R281]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R282" flag="warning">[BIICORE-T14-R282]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R283" flag="warning">[BIICORE-T14-R283]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R284" flag="warning">[BIICORE-T14-R284]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R285" flag="warning">[BIICORE-T14-R285]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R286" flag="warning">[BIICORE-T14-R286]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R287" flag="warning">[BIICORE-T14-R287]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R288" flag="warning">[BIICORE-T14-R288]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R289" flag="warning">[BIICORE-T14-R289]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R290" flag="warning">[BIICORE-T14-R290]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R291" flag="warning">[BIICORE-T14-R291]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R292" flag="warning">[BIICORE-T14-R292]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R293" flag="warning">[BIICORE-T14-R293]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R294" flag="warning">[BIICORE-T14-R294]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R295" flag="warning">[BIICORE-T14-R295]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R296" flag="warning">[BIICORE-T14-R296]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R297" flag="warning">[BIICORE-T14-R297]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R298" flag="warning">[BIICORE-T14-R298]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R299" flag="warning">[BIICORE-T14-R299]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R300" flag="warning">[BIICORE-T14-R300]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R301" flag="warning">[BIICORE-T14-R301]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R302" flag="warning">[BIICORE-T14-R302]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R303" flag="warning">[BIICORE-T14-R303]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R304" flag="warning">[BIICORE-T14-R304]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R305" flag="warning">[BIICORE-T14-R305]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R306" flag="warning">[BIICORE-T14-R306]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R307" flag="warning">[BIICORE-T14-R307]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R308" flag="warning">[BIICORE-T14-R308]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R309" flag="warning">[BIICORE-T14-R309]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R310" flag="warning">[BIICORE-T14-R310]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R311" flag="warning">[BIICORE-T14-R311]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R312" flag="warning">[BIICORE-T14-R312]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R313" flag="warning">[BIICORE-T14-R313]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R314" flag="warning">[BIICORE-T14-R314]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R315" flag="warning">[BIICORE-T14-R315]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R316" flag="warning">[BIICORE-T14-R316]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R317" flag="warning">[BIICORE-T14-R317]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R318" flag="warning">[BIICORE-T14-R318]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R319" flag="warning">[BIICORE-T14-R319]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R320" flag="warning">[BIICORE-T14-R320]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R321" flag="warning">[BIICORE-T14-R321]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R322" flag="warning">[BIICORE-T14-R322]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R323" flag="warning">[BIICORE-T14-R323]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R324" flag="warning">[BIICORE-T14-R324]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R325" flag="warning">[BIICORE-T14-R325]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R326" flag="warning">[BIICORE-T14-R326]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R327" flag="warning">[BIICORE-T14-R327]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R328" flag="warning">[BIICORE-T14-R328]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R329" flag="warning">[BIICORE-T14-R329]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R330" flag="warning">[BIICORE-T14-R330]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R331" flag="warning">[BIICORE-T14-R331]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R332" flag="warning">[BIICORE-T14-R332]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R333" flag="warning">[BIICORE-T14-R333]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R334" flag="warning">[BIICORE-T14-R334]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R335" flag="warning">[BIICORE-T14-R335]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R336" flag="warning">[BIICORE-T14-R336]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R337" flag="warning">[BIICORE-T14-R337]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R338" flag="warning">[BIICORE-T14-R338]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R339" flag="warning">[BIICORE-T14-R339]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R340" flag="warning">[BIICORE-T14-R340]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R341" flag="warning">[BIICORE-T14-R341]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R342" flag="warning">[BIICORE-T14-R342]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R343" flag="warning">[BIICORE-T14-R343]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R344" flag="warning">[BIICORE-T14-R344]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R345" flag="warning">[BIICORE-T14-R345]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R346" flag="warning">[BIICORE-T14-R346]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R347" flag="warning">[BIICORE-T14-R347]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R348" flag="warning">[BIICORE-T14-R348]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R349" flag="warning">[BIICORE-T14-R349]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R350" flag="warning">[BIICORE-T14-R350]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R351" flag="warning">[BIICORE-T14-R351]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R352" flag="warning">[BIICORE-T14-R352]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R353" flag="warning">[BIICORE-T14-R353]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R354" flag="warning">[BIICORE-T14-R354]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R355" flag="warning">[BIICORE-T14-R355]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R356" flag="warning">[BIICORE-T14-R356]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R357" flag="warning">[BIICORE-T14-R357]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R358" flag="warning">[BIICORE-T14-R358]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R359" flag="warning">[BIICORE-T14-R359]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R360" flag="warning">[BIICORE-T14-R360]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R361" flag="warning">[BIICORE-T14-R361]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R362" flag="warning">[BIICORE-T14-R362]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R363" flag="warning">[BIICORE-T14-R363]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R364" flag="warning">[BIICORE-T14-R364]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R365" flag="warning">[BIICORE-T14-R365]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R366" flag="warning">[BIICORE-T14-R366]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R367" flag="warning">[BIICORE-T14-R367]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R368" flag="warning">[BIICORE-T14-R368]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R369" flag="warning">[BIICORE-T14-R369]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R370" flag="warning">[BIICORE-T14-R370]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R371" flag="warning">[BIICORE-T14-R371]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R372" flag="warning">[BIICORE-T14-R372]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R373" flag="warning">[BIICORE-T14-R373]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R374" flag="warning">[BIICORE-T14-R374]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R375" flag="warning">[BIICORE-T14-R375]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R376" flag="warning">[BIICORE-T14-R376]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R377" flag="warning">[BIICORE-T14-R377]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R378" flag="warning">[BIICORE-T14-R378]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R379" flag="warning">[BIICORE-T14-R379]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R380" flag="warning">[BIICORE-T14-R380]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R381" flag="warning">[BIICORE-T14-R381]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R382" flag="warning">[BIICORE-T14-R382]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R383" flag="warning">[BIICORE-T14-R383]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R384" flag="warning">[BIICORE-T14-R384]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R385" flag="warning">[BIICORE-T14-R385]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
    <assert test="$BIICORE-T14-R386" flag="warning">[BIICORE-T14-R386]-A conformant CEN BII credit note core data model SHOULD not have data elements not in the core.</assert>
  </rule>
</pattern>
