gitb-test-resources/src/main/resources/test-repository/Sample/Actor1/artifacts/BIIPROFILES/UBL/BIIPROFILES-UBL-T14.sch

<!-- Schematron binding rules generated automatically. -->
<!-- Data binding to UBL syntax for T14 -->
<!-- (2009). Invinet Sistemes -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="UBL-T14" is-a="T14">
  <param value=". = 'urn:www.cenbii.eu:profile:bii05:ver1.0' or . = 'urn:www.cenbii.eu:profile:bii06:ver1.0' or . = 'urn:www.cenbii.eu:profile:bii07:ver1.0' or . = 'urn:www.cenbii.eu:profile:bii08:ver1.0' or . = 'urn:www.cenbii.eu:profile:bii13:ver1.0' or . = 'urn:www.cenbii.eu:profile:bii19:ver1.0'" name="BIIPROFILE-T14-R001"/>
  <param value="//cbc:ProfileID" name="Invoice_Profile"/>
</pattern>
