gitb-core/src/main/resources/schema/gitb_tdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.gitb.com/tdl/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gitb="http://www.gitb.com/core/v1/" targetNamespace="http://www.gitb.com/tdl/v1/" elementFormDefault="qualified" version="1.0">
	<xsd:import namespace="http://www.gitb.com/core/v1/" schemaLocation="gitb_core.xsd"/>
	<xsd:element name="testcase" type="TestCase"/>
	<xsd:element name="testsuite" type="TestSuite"/>
	<xsd:complexType name="TestSuite">
		<xsd:sequence>
			<xsd:element name="metadata" type="gitb:Metadata"/>
			<xsd:element name="actors" type="gitb:Actors"/>
			<xsd:element name="testcase" type="TestCaseEntry" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TestCaseEntry">
		<xsd:sequence>
			<xsd:element name="prequisite" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="option" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TestCase">
		<xsd:sequence>
			<xsd:element name="metadata" type="gitb:Metadata"/>
			<xsd:element name="namespaces" type="Namespaces" minOccurs="0"/>
			<xsd:element name="imports" type="Imports" minOccurs="0"/>
			<xsd:element name="preliminary" type="UserInteraction" minOccurs="0"/>
			<xsd:element name="variables" type="Variables" minOccurs="0"/>
			<xsd:element name="actors" type="gitb:Roles"/>
			<xsd:element name="steps" type="Sequence"/>
			<xsd:element name="scriptlets" type="Scriptlets" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Namespaces">
		<xsd:sequence>
			<xsd:element name="ns" type="Namespace" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Namespace">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="prefix" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Imports">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="artifact" type="TestArtifact"/>
				<xsd:element name="module" type="TestModule"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TestArtifact">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:ID" use="required"/>
				<xsd:attribute name="type" type="xsd:string" use="required"/>
				<xsd:attribute name="encoding" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TestModule">
		<xsd:sequence>
			<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="uri" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Variables">
		<xsd:sequence>
			<xsd:element name="var" type="Variable" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Variable">
		<xsd:sequence>
			<xsd:element name="value" type="TypedBinding" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Scriptlets">
		<xsd:sequence>
			<xsd:element name="scriptlet" type="Scriptlet" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Scriptlet">
		<xsd:sequence>
			<xsd:element name="metadata" type="gitb:Metadata" minOccurs="0"/>
			<xsd:element name="namespaces" type="Namespaces" minOccurs="0"/>
			<xsd:element name="imports" type="Imports" minOccurs="0"/>
			<xsd:element name="params" type="Variables" minOccurs="0"/>
			<xsd:element name="variables" type="Variables" minOccurs="0"/>
			<xsd:element name="steps" type="Sequence"/>
			<xsd:element name="output" type="Binding" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Sequence">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<!-- Messaging Test Steps Constructs -->
				<xsd:element name="send" type="Send"/>
				<xsd:element name="receive" type="Receive"/>
				<xsd:element name="listen" type="Listen"/>
				<xsd:element name="btxn" type="BeginTransaction"/>
				<xsd:element name="etxn" type="EndTransaction"/>
				<!-- Flow constructs -->
				<xsd:element name="if" type="IfStep"/>
				<xsd:element name="while" type="WhileStep"/>
				<xsd:element name="repuntil" type="RepeatUntilStep"/>
				<xsd:element name="foreach" type="ForEachStep"/>
				<xsd:element name="flow" type="FlowStep"/>
				<xsd:element name="exit" type="ExitStep"/>
				<!--Testing & Supplemantary constructs -->
				<xsd:element name="assign" type="Assign"/>
				<xsd:element name="group" type="Group"/>
				<xsd:element name="verify" type="Verify"/>
				<xsd:element name="call" type="CallStep"/>
				<xsd:element name="interact" type="UserInteraction"/>
				<!--Processing constructs -->
				<xsd:element name="process" type="Process"/>
				<xsd:element name="bptxn" type="BeginProcessingTransaction"/>
				<xsd:element name="eptxn" type="EndProcessingTransaction"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TestConstruct">
		<xsd:attribute name="id" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="TestStep">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:attribute name="desc" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessagingStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="from" type="xsd:string" use="required"/>
				<xsd:attribute name="to" type="xsd:string" use="required"/>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Send">
		<xsd:complexContent>
			<xsd:extension base="MessagingStep">
				<xsd:sequence>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReceiveOrListen">
		<xsd:complexContent>
			<xsd:extension base="MessagingStep">
				<xsd:sequence>
					<xsd:element name="output" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Receive">
		<xsd:complexContent>
			<xsd:extension base="ReceiveOrListen"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Listen">
		<xsd:complexContent>
			<xsd:extension base="ReceiveOrListen"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BeginTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="from" type="xsd:string" use="required"/>
				<xsd:attribute name="to" type="xsd:string" use="required"/>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
				<xsd:attribute name="handler" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EndTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IfStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="cond" type="Expression"/>
					<xsd:element name="then" type="Sequence"/>
					<xsd:element name="else" type="Sequence"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WhileStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="cond" type="Expression"/>
					<xsd:element name="do" type="Sequence"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RepeatUntilStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="do" type="Sequence"/>
					<xsd:element name="cond" type="Expression"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForEachStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="do" type="Sequence"/>
				</xsd:sequence>
				<xsd:attribute name="counter" type="xsd:string" use="optional" default="i"/>
				<xsd:attribute name="start" type="xsd:integer" use="optional" default="0"/>
				<xsd:attribute name="end" type="xsd:integer" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExitStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FlowStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="thread" type="Sequence" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Assign">
		<xsd:complexContent>
			<xsd:extension base="Expression">
				<xsd:attribute name="to" type="xsd:string" use="required"/>
				<xsd:attribute name="append" type="xsd:boolean" use="optional" default="false"/>
				<xsd:attribute name="type" type="xsd:string" use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Group">
		<xsd:complexContent>
			<xsd:extension base="Sequence">
				<xsd:attribute name="id" type="xsd:string" use="optional"/>
				<xsd:attribute name="desc" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Verify">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="input" type="Binding" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="handler" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CallStep">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="output" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="path" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserInteraction">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element name="instruct" type="Instruction"/>
						<xsd:element name="request" type="UserRequest"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="with" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BeginProcessingTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
				<xsd:attribute name="handler" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EndProcessingTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Process">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="operation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Instruction">
		<xsd:complexContent>
			<xsd:extension base="InstructionOrRequest"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserRequest">
		<xsd:complexContent>
			<xsd:extension base="InstructionOrRequest"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InstructionOrRequest" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="TypedBinding">
				<xsd:attribute name="desc" type="xsd:string" use="required"/>
				<xsd:attribute name="with" type="xsd:string" use="required"/>
				<xsd:attribute name="contentType" type="gitb:ValueEmbeddingEnumeration" use="optional"/>
				<xsd:attribute name="encoding" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Expression">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="lang" type="xsd:string" use="optional"/>
				<xsd:attribute name="source" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Binding">
		<xsd:complexContent>
			<xsd:extension base="Expression">
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypedBinding">
		<xsd:complexContent>
			<xsd:extension base="Binding">
				<xsd:attribute name="type" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TestModuleTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MESSAGING"/>
			<xsd:enumeration value="VALIDATION"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
